*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.container{
    margin-bottom: 100px;
    border-radius: 20px;
    display: flex;
    padding: 60px 50px;
    align-items: center;
    width: 80%;
    background-color: #EE6983;
}

.gambar{
    width: 40%;
}
.gambar img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.biodata{
    width: 50%;
    margin: 0px 30px;
    color: #FFC4C4;
}
.biodata h1{
    color: #FFF5E4;
    margin-bottom: 10px;
    font-size: 40px;
}
.biodata h2{
    color: #FFF5E4;
    margin-bottom: 10px;
    font-size: 50px
}
.biodata h3{
    color: #FFF5E4;
    margin-bottom: 10px;
    font-size: 30px;
}
.biodata p{
    color: #FFF;
    text-align: justify;
}
.sosmed{
    width: 10%;
    display: flex;
    flex-direction: column;
}
 .sosmed a{
    width: 100%;
    padding: 30px;
    text-align: center;
    margin: 5px 0px;
    background-color: #FFC4C4;
    color: #FFF5E4;
    text-decoration: none;
}

@media screen and (max-width: 800px) {
  body {
    padding: 5px;
  }
  .container {
    flex-direction: column;
    background-color: #000;
  }
  .gambar, .biodata, .sosmed {
    width: 100%;
  }
}
